@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+Arabic:wght@600&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    user-select:  none;
    color-scheme: red;
    
}

:root {
    --MainColor:#0075ff;
    --SecondryColor:#393939;
    --ModelsColor:rgb(243, 243, 243);
    --ModelFont:sans-serif;
    --TextArabicFont:'Lateef', serif;
    --TitleArabic: 'Noto Sans Arabic', sans-serif;
    --BackgroundsDiv: #f5f5f5;
    --BorderNone: none;
}

nav{
    background-color: var(--SecondryColor);
    display:flex ;
    justify-content: center;
    align-items: center;
    padding-top:10px;
    padding-bottom:10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    

}
nav a{
    color: var(--ModelsColor,white);
    text-decoration: none;
}

li{
    display: inline;
    font-family: var(--ModeslFont,sans-serif);
    margin-left: 10px;
    

}
.LoginIn{
    background-color: var(--MainColor);
    padding: 6px;
    border: none;
    position: absolute;
    left: 5px;
    color: var(--ModelsColor);
    overflow: hidden;
    

}
.LoginIn:hover{
    box-shadow: 1px 0px 7px var(--ModelsColor);

}

#logo_nav {
    position: absolute;
    right: 25px;
}






footer {
    background-color: var(--BackgroundsDiv);
    color: var(--BackgroundsDiv);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: var(--TextArabicFont);
    color: var(--MainColor);
    font-size: 22px;
    
    
}
footer a{
    text-decoration: none;
    color: var(--MainColor);
}




.html_div{
    background-color: var(--SecondryColor);
    width: 50%;
    padding: 50px;
    margin: auto;
    position: relative;
    border-radius: 0 10px 10px 0;
}
.html_div a,
.css_div a{
    /* text-align: center; */
    font-family: var(--ModelFont);
    color: var(--ModelsColor);
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;


}

.html_div p,
.css_div p {
    color: var(--ModelsColor);
    font-family: var(--TextArabicFont);
    font-weight: 700;
    font-size: 23px;

    
}
.fa-html5,
.fa-css3-alt,
.fa-square-js,
.fa-php,
.fa-j{
    position: absolute;
    left: 50%;
    top: 20px;
    
}
.css_div {
    background-color: var(--SecondryColor);
    width: 50%;
    padding: 50px;
    margin: auto;
    position: relative;
    top: 70px;
    border-radius: 0 10px 10px 0;
}



.css_div  {
    width: 50%;
    padding: 50px;
    margin: 5px 22%;
}






@media (max-width:670px) {

    #logo_nav {
        color: transparent;
        display: none;
    }
    .LoginIn {
        display: none;
    }
    footer {
        display: none;
    }
    nav a{
        font-size: 10px;
    }
}
@keyframes nav_animation {

    from{
        width: 0;
        background-color: var(--MainColor);
    }to{
        width: 100%;
        background-color: var(--SecondryColor);
    }

}
